<% if(locals.title) { %>
  <%- include('./wrappers/head', {title: title, login: id}); %>
<% } else { %>
  <%- include('./wrappers/head', {title: "Error 404", login: id}); %>
<% } %>
<section>
  <h1>ERROR!</h1>
  <h3>
    <% if(locals.msg) { %>
      <%= msg %>
    <% } else { %>
      Page not found!
    <% } %>
  </h3>
</section>
<%- include('./wrappers/foot'); %>