<%- include('./wrappers/head', {title: 'About Us', login: id}); %>
<section>
  <h1>A Little About Us</h1>
  <p>A lot of times people don't understand how much plants can do for us, and our purpose is to inform and allow anyone to work with plants of any kind. With our help, anyone can have a green thumb and learn what benefits plants can offer to our health.</p>
</section>
<%- include('./wrappers/foot'); %>