<%- include('./wrappers/head', {title: "Contact Us", login: id}); %>
<section>
  <h1>Contact Us</h1>
  <p>Below is a list of services you can contact us at for any website issues or other issues related to products, payment, and shipping.</p>
  <ul>
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Slack</li>
    <li>Discord</li>
    <li>Email: baloo08@live.com</li>
    <li>Phone: (920)279-7094</li>
  </ul>
</section>
<%- include('./wrappers/foot'); %>