<%- include('./wrappers/head', {login: id}); %>
<section>
  <h1>Welcome to The Concentrated Reef!</h1>
  <p>You can browse and purchase anything on this site as a guest entirely! Never have to worry about creating an account ever again! With the ability to handle one-time transactions your card information never gets stored on our servers!</p>
</section>
<%- include('./wrappers/foot'); %>