@media screen and (min-width: 1200px) {
  wrapper {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}
header, footer {background: #00aa00;}
footer {height: 50px !important;}
header nav {border-top: 2px solid black;}
main {background: #aa00ff77;}