<%- include('../wrappers/head', {title: 'Login', login: id}); %>
<section>
  <form method="POST" action="/">
    <input type="text" name="username" id="username" placeholder="Username or email..." /><br />
    <input type="password" name="password" id="password" placeholder="Password..." /><br />
    <input type="checkbox" name="login" checked style="display:none;" />
    <input type="submit" value="Login" />
  </form>
</section>
<%- include('../wrappers/foot'); %>