<%- include('../wrappers/head', {title: 'Login', login: id}); %>
<section>
  <form method="POST" action="/">
    <div class="form-input">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="Username or email..." /><br />
    </div>
    <div class="form-input">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="Password..." /><br />
    </div>
    <input type="checkbox" name="login" checked style="display:none;" />
    <input type="submit" value="Login" />
  </form>
</section>
<%- include('../wrappers/foot'); %>