<% if(locals.scheme) { %>
  <%- include('../wrappers/head', {title: scheme.name}); %>
<% } else { %>
  <%- include('../wrappers/head', {title: 'Flower not Found'}); %>
<% } %>
<section>

</section>
<%- include('../wrappers/foot'); %>